* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

header ul {
    display: flex;
}

header li {
    list-style: none;
}

header a {
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}

header a:hover {
    color: #aaa;
}

main {
    flex: 1;
}

.hero {
    background-color: #aaa;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    color: #fff;
    font-size: 1.8rem;
}

.hero p {
    color: #fff;
    font-size: 1.0rem;
}

.services {
    display: flex;
    margin-top: 40px;
    justify-content: space-evenly;
    gap: 10px;
}

.service {
    background-color: #aaa;
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.service h2 {
    color: #fff;
    font-size: 1.2rem;
}

.service p {
    color: #fff;
    font-size: 0.8rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    margin-top: 40px;
}

@media(max-width: 700px) {
    .services {
        flex-direction: column;
        align-items: center;
    }

    .service {
        height: 100px;
        width: 80%;
        margin-top: 20px;
    }
}

.contact-form form{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin: 40px auto;
    gap: 10px;
    padding: 40px; /* いらないかも */
}

.contact-form input, .contact-form textarea{
    padding: 8px;
}

.contact-form button{
    padding: 10px;
    margin-top: 20px;
}

.error-message{
    color: #f00;
    font-size: 0.8rem;
    display: none;
}

.error-message.show{
    display: block;
}